[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"

[packages]
gunicorn = "*"
pandas = "*"
flask = "*"
pymongo = "*"
dnspython = "*"
scikit-learn = "*"
spacy = "*"

[requires]
python_version = "3.7"
